/* Establecer el fondo de la página a un gris claro */
body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #007bff !important;
  color: white !important;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
